.banner {
	background: url(Presentation2.png) no-repeat 0%;
	color: crimson !important;
	font-family: "Segoe UI" !important;
	font-size: 20px;
	background-size: 50%;
	padding-top: 12rem;
	padding-bottom: 3rem;
	text-align: center !important;
}

.slogan {
	background-color: seagreen !important;
	color: white !important;
	font-family: "Google Sans" !important;
	text-align: center !important;
	width: 100%;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: -1;
	max-width: 100%;
	padding-right: 3rem;
	padding-left: 3rem;
}

.block_3 {
	flex: 0 0 auto;
	width: 33.3333333333333%;
}

.block_2 {
	flex: 0 0 auto;
	width: 50%;
}

.noidung {
	color: navy !important;
	font-family: "Prompt" !important;
	text-align: left;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.slogan_1 {
	font-family: "Google Sans" !important;
	color: navy;
	font-size: 20px;
	text-align: center !important;
	width: 50%;
	padding-right: 15rem;
	padding-left: 15rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.footer {
	background-color: darkred !important;
	font-family: "Google Sans" !important;
	text-align: left !important;
	color: white !important;
	width: 100%;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
a:link {color: white;}
a:visited {color: mintcream;}
a:hover {color: lightblue;}

.sportsbanner {
	background-color: dimgrey !important;
	font-family: "Google Sans";
	color: white !important;
	text-align: center !important;
	width: 150%
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.sportsslogan {
	color: crimson !important;
	font-family: "Google Sans" !important;
	font-size: 18px;
}
